[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.6"
pillow = "*"
python-dotenv = "*"

[dev-packages]
psycopg2-binary = "*"  # Pour PostgreSQL
gunicorn = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
