[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.*"
pillow = "*"
python-dotenv = "*"
django-cleanup = "*"
django-admin-rangefilter = "*"
admin-totals = "*"

[dev-packages]

[requires]
python_version = "3.12"
