@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,wght@6..12,75..125,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@87.5,300&display=swap');

* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

header {
    background-color: white;
    border: 1px solid;
}
.navbar li a {
    font-weight: 700;
}
.nav_logo {
    font-weight: 800;
    font-variation-settings:
        "wdth" 125,
        "YTLC" 500;
}
.nav_logo img {
    background-color: white;
}
body {
    background-color: AliceBlue;
    position: relative;
    min-height: 100vh;
    z-index: -1000;
}
footer * {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
}
footer h5 {
    font-weight: 400;
}

.glass {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255,255, 0.3);
}
.img {
    background: center / cover no-repeat;
}

@media (max-width: 768px) {
    footer {
        font-size: 1rem;
    }
}