* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: green;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* Support pour Safari */
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: black;
}
.nav-list {
    display: flex;
}
.nav-list a {
    color: black;
    margin-left: 60px;
    font-size: 21px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}
.nav-list a:hover {
    border-bottom: 2px solid black;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

*::-webkit-scrollbar {
  width: 0;
}