#txt-accueil {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#txt-accueil p {
    font-weight: 800;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
#txt-accueil h1 {
    font-weight: 900;
    font-variation-settings:
        "wdth" 87.5,
        "YTLC" 700;
}