header {
    backdrop-filter: blur(6px);
    background: transparent;
    border: none;
}
.nav_logo img {
    background-color: white;
}

.green_csv {
    filter: invert(34%) sepia(85%) saturate(6664%) hue-rotate(151deg) brightness(96%) contrast(80%);
}

#presentation {
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
#presentation p {
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
#presentation h1 {
    font-variation-settings:
        "wdth" 87.5,
        "YTLC" 700;
}

#quick-link-cards {
    min-height: 20vh;
    position: relative;
    z-index: 1;
    top: -5rem;
    padding: 0 10%;
}
quick-link-cards card {
    width: 80%;
    height: 50%;
    position: relative;
}
#quick-link-cards img {
    height: 4.5rem;
}

#last-animals img {
    clip-path: ellipse(70% 60% at 50% 40%);
}

#stats {
    padding-top: 5rem;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    height: 50vh;
    background-color: LightSteelBlue;
}

.scroll-down {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    right: 2%;
    transition: all 0.5s ease;
}
.scroll-down:hover {
    transform: translateY(20px);
}