{% load static %}
<footer class="pt-4 container border-top">

  <div class="row">
    <div class="col-12 col-md-6 mb-3">
      <h5>Nos horaires</h5>
      <p>{{ home_stuffs.opening_hours|linebreaks }}</p>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <h5>Contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="tel:{{ home_stuffs.phone_number }}">{{ home_stuffs.phone_number }}</a></li>
        <li class="nav-item mb-2"><a href="mailto:{{ home_stuffs.email }}">{{ home_stuffs.email }}</a></li>
        <li class="nav-item mb-2"><a href="http://maps.google.com/?q={{ home_stuffs.location }}" target="_blank">{{ home_stuffs.location }}</a></li>
      </ul>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-2 mt-2 border-top col-12">
      <p>© 2024</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/poneyschevauxcheznous" target="_blank">
          <img src="{% static 'img/Facebook_icon.svg' %}" style="height: 24px; width: 24px;">
        </a></li>
        <li class="ms-3"><a class="link-dark" href="https://www.instagram.com/pccn85" target="_blank">
          <img src="{% static 'img/Instagram_icon.svg' %}" style="height: 24px; width: 24px;">
        </a></li>
      </ul>
    </div>

</footer>