<header class="fixed-top" style="backdrop-filter: blur(5px);">
<!--    <nav class="navbar navbar-expand-lg text-white" data-bs-theme="dark">-->
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container">
            <a class="navbar-brand nav_logo" href="{% url 'home' %}">
                <img src="{{ home_stuffs.logo.url }}" alt="Logo" width="40" height="40"
                     class="d-inline-block align-text-center rounded-circle">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% for onglet, link in header_list %}
                    <li class="nav-item">
                        <a
                                {% if request.resolver_match.url_name in link %}
                                aria-current="page"
                                class="nav-link active"
                                {% else %}
                                class="nav-link"
                                {% endif %}
                                href="{% url link %}">{{onglet}}
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </nav>
</header>