{% with desc=publi.description|linebreaks %}
<div class="h-100 d-flex flex-column position-relative ">

    {% if publi.attachments.count %}
    <div class="w-100 px-3 pt-2">
        {% if desc|wordcount > 30 %}
        {{ desc|truncatewords:"30" }}<u>Voir la suite</u>
        {% else %}
        {{ desc }}
        {% endif %}
    </div>
    {% with medias=publi.attachments.all %}
    <div class="w-100 flex-fill rounded overflow-hidden">
        {% if medias.count == 1 %}
        <div style="background: url('{{ medias.0.file.url }}') no-repeat center center; background-size: cover; height: 100%;"></div>
        {% elif medias.count == 2 %}
        <div class="row h-100">
            <div class="col-6"
                 style="background: url('{{ medias.0.file.url }}') no-repeat center center; background-size: cover; height: 100%;"></div>
            <div class="col-6"
                 style="background: url('{{ medias.1.file.url }}') no-repeat center center; background-size: cover; height: 100%;"></div>
        </div>
        {% elif medias.count > 2 %}
        <div class="row h-100">
            <div class="h-100 row col-5 p-0 m-0">
                <div class="col-12 p-0"
                     style="background: url('{{ medias.0.file.url }}') no-repeat center center; background-size: cover; height: 50%;"></div>
                <div class="col-12 p-0"
                     style="background: url('{{ medias.1.file.url }}') no-repeat center center; background-size: cover; height: 50%;"></div>
            </div>
            <div class="col-7 p-0 m-0"
                 style="background: url('{{ medias.2.file.url }}') no-repeat center center; background-size: cover; height: 100%;"></div>
        </div>
        {% endif %}
    </div>
    {% endwith %}

    {% else %}
    <div class="w-100 px-3 pt-2 m-0">
        {% if desc|wordcount > 100 %}
        {{ desc|truncatewords:"100" }}<u>Voir la suite</u>
        {% else %}
        {{ desc }}
        {% endif %}
    </div>

    {% endif %}
    <a class="stretched-link" href="{{ publi.get_absolute_url }}" target="_blank"></a>
</div>
{% endwith %}