{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/animals.css' %}">
{% endblock %}

{%  block content %}
<div class="animals_list">
    {% for animal in animals %}
    <div class="animal_card">
        <span><img src="{{ animal.profile.url }}" alt="Protégé {{ animal.name }}"></span>
        <h1>{{ animal.name }}</h1>
        <p>{{ animal.description }}</p>
        <a href="{{ animal.get_absolute_url }}"></a>
    </div>
    {% endfor %}
</div>
{% endblock %}