{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <title>Poney, chevaux chez nous</title>
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="{% url 'home' %}">PCCN</a>
            <ul>
                {% for onglet, link in header_list %}
                <li class="{% if request.resolver_match.url_name in link %}active_url{% endif %}">
                    <a href="{% url link %}">{{onglet}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <section>
            <h1>Nos horaires</h1>
            <p>{{ home_stuffs.opening_hours|linebreaks }}</p>
        </section>
        <section>
            <h1>Contact</h1>
            <ul>
                <li><a href="tel:{{ home_stuffs.phone_number }}">{{ home_stuffs.phone_number }}</a></li>
                <li><a href="mailto:{{ home_stuffs.email }}">{{ home_stuffs.email }}</a></li>
                <li><a href="https://www.facebook.com/poneyschevauxcheznous/" target="_blank">Notre page Facebook</a></li>
                <li><a href="http://maps.google.com/?q={{ home_stuffs.location }}" target="_blank">{{ home_stuffs.location }}</a></li>
            </ul>
        </section>
    </footer>
</body>
</html>