{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main-style %}{% endblock %}
{% block main-class %}{% endblock %}

{% block content %}
<section id="presentation" class="container-fluid"
         style="background-image: url('{{ home_stuffs.home_picture.url }}')">
    <div class="h-100 row row-cols-1 ">
        <span class="col-1 d-none d-md-block"></span>
        <div class="col-12 col-md-5 px-4 px-sm-5 px-md-0 d-flex flex-column justify-content-center"
             style="margin-top: 5rem; margin-bottom: 7rem;">
            <div class="glass rounded-3 p-2 p-sm-4 row">
                <h1>Poneys, chevaux chez nous</h1>
                {{ home_stuffs.home_text|linebreaks }}
                <button type="button" class="btn btn-success rounded-pill col-9 col-sm-6 mx-auto mx-sm-0">
                    En savoir plus
                </button>
            </div>
        </div>
    </div>
</section>

<a class="scroll-down d-none d-lg-block" href="#quick-link-cards">
    <img src="{% static 'img/home/arrow-down.svg' %}" alt="scroll down" height="55px" class="green_csv">
</a>

<section id="quick-link-cards" class="container">
    <div class="row row-cols-1 row-cols-lg-3 gx-5 gy-3">
        {% for svg, text in q_cards %}
        <div class="col">
            <div class="card shadow-lg h-100 rounded-3">
                <img src="{% static 'img/home/link_cards/' %}{{ svg }}.svg"
                     class="card-img-top mx-auto px-5 pt-3 green_csv">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ text.0|safe }}</h5>
                </div>
                <a href="{{ text.1 }}" class="stretched-link" target="_blank"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section id="last-animals" class="container d-flex flex-column align-items-center">
    <h2 class="text-center pb-3">Nos derniers arrivants</h2>
    <div class="row row-cols-2 row-cols-lg-3 g-1 g-sm-3 g-lg-5 pb-5">
        {% for i in '123456' %}
        <div class="col">
            <div class="card h-100 shadow rounded-4">
                <img src="{{ home_stuffs.home_picture.url }}" class="card-img-top rounded-4">
                <div class="card-body py-3">
                    <h5 class="card-title text-center">{{ i }}</h5>
                </div>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-success rounded-pill" style="width: 25%">
        Plus
    </button>
</section>

<section id="stats">
    <div class="container">
        <h2 class="text-center">Nos statistiques</h2>
    </div>
</section>
{% endblock %}