{% extends 'base/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}

{% block main-style %}{% endblock %}
{% block main-class %}{% endblock %}

{% block content %}
<section id="txt-accueil" class="vh-100 container-fluid"
         style="background-image: url('{{ home_stuffs.home_picture.url }}')">
    <div class="h-100 row row-cols-1">
        <span class="col-1 d-none d-md-block"></span>
        <div class="col-12 col-md-5 px-2 px-sm-5 px-md-0 d-flex flex-column justify-content-center" style="margin-top: 5rem">
            <div class="rounded p-2 p-sm-4 row" style="background: rgba(255,255,255,0.3)">
                <h1>Poney, chevaux chez vous</h1>
                {{ home_stuffs.home_text|linebreaks }}
                <button type="button" class="btn btn-warning col-9 col-sm-6 mx-auto mx-sm-0">Warning</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}