{% extends 'base.html' %}

{% block head %}
<script src="https://unpkg.com/htmx.org@2.0.0"></script>
{% endblock %}

{% block main-styles %}h-100{% endblock %}

{% block content %}
<div id="publications">
    {% for publication in publications %}
    <article class="publication bg-light rounded my-3 border border-2 border-dark" style="height: 30rem;">
        <div class="position-sticky bg-dark text-light" style="top: 105px; height: 30px; z-index:5;">
            <!--            <h5 class="text-center">{{ publication.post_at|date:"s" }}</h5>-->
            <h5 class="text-center">Posté à {{ publication.post_at|date:"s" }} secondes</h5>
        </div>
        <div>
            {{ publication.description }}
        </div>

        {% if publications.has_next and forloop.last %}
        <span hx-get="{{ url }}?page={{ publications.next_page_number }}"
              hx-target="#publications"
              hx-select=".publication"
              hx-trigger="revealed"
              hx-swap="beforeend">
            </span>
        {% endif %}

    </article>
    {% endfor %}
</div>
{% endblock %}