{% extends 'base/base.html' %}
{% load static %}
{% load filters %}
{% block script %}
<script src="https://unpkg.com/htmx.org@2.0.0"></script>
{% endblock %}
{% block css %}
<style>
    main {
        background: url('{{ home_stuffs.home_picture.url }}') center / cover no-repeat fixed;
        position: relative;
        z-index: -2;
    }
    main::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(20px);
}
</style>
{% endblock %}
{% block main-style %}padding-top: 4.2rem{% endblock %}
{% block main-class %}{% endblock %}

{% block content %}
<section id="publications" class="container">
    {% for publication in publications %}

    {% if publication.is_last_of_month %}
    <h3 class="text-center m-0 position-sticky d-flex align-items-center justify-content-center rounded-bottom"
        style="top: 4rem; height: 3rem; z-index: 2; background-color: LightSteelBlue;">
        <time datetime="{{ publication.post_at|date:'Y-m' }}">{{ publication.post_at|date:"F Y" }}</time>
    </h3>
    {% endif %}

    <article class="px-0 d-flex flex-column mb-4 border border-light border-3 rounded-3"
             style="height: 60vh">
        <h5 class="text-center position-sticky glass m-0 "
            style="top: 7rem; height: 2rem; z-index:1;">
            <time datetime="{{ publication.post_at|date:'Y-m-d' }}">{{ publication.post_at|date:"l d" }}</time>
        </h5>
        <figure class="m-0 d-flex flex-column flex-lg-row flex-fill">
            <figcaption class="h-auto p-2 p-lg-4 bg-light col-12 col-lg-5 order-lg-2">
                <div class="d-lg-none">{{ publication.description|publication_format:30 }}</div>
                <div class="d-none d-lg-block">{{ publication.description|publication_format:70 }}</div>

            </figcaption>
            <div class="flex-fill bg-light p-0 col-12 col-lg-7 rounded-bottom overflow-hidden">
                {% include 'elements/mosaic.html' with medias=publication.attachments.all %}
            </div>
        </figure>

        {% if publications.has_next and forloop.last %}
        <span hx-get="{{ url }}?page={{ publications.next_page_number }}"
              hx-select="#publications > *" hx-target="#publications"
              hx-trigger="revealed" hx-swap="beforeend">
            </span>
        {% endif %}
    </article>

    {% endfor %}
</section>
{% endblock %}