{% extends 'base/base.html' %}

{% block content %}
<h5 class="text-center pb-3">Cliquez sur la carte d'un partenaire pour visiter son site web</h5>
<section class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 row-cols-xl-6 g-2 g-sm-3 g-lg-4 pt-5">
    {% for sponsor in sponsors %}
    <div class="col">
        <div class="card h-100 shadow rounded-2" style="background-color: LightSteelBlue">
            <div class="card-body">
                <h5 class="card-title text-center">{{ sponsor.name }}</h5>
                <p class="card-text text-center"><small class="text-body-secondary">{{ sponsor.detail }}</small></p>
            </div>
            <div>
                <img src="{{ sponsor.logo.url }}" class="card-img-bottom p-3 object-fit-contain"
                     alt="Logo {{ sponsor.name }}">
            </div>
            <a href="{{ sponsor.website }}" target="_blank" class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}