{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 row-cols-xl-6 g-2 g-sm-3 g-lg-4 pt-5">
  {% for sponsor in sponsors %}
  <div class="col">
    <div class="card h-100" style="background-color: LightBlue;">
      <div class="card-body">
        <h5 class="card-title">{{ sponsor.name }}</h5>
        <p class="card-text"><small class="text-body-secondary">{{ sponsor.detail }}</small></p>
      </div>
      <div style="h-100">
        <img src="{{ sponsor.logo.url }}" class="card-img-bottom p-3 object-fit-contain" alt="Logo {{ sponsor.name }}">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}