<div class="publi_resume">
    {% if publication.attachments.count %}
    <div class="publi_resume_txt">
        {{ publication.description|linebreaks }}
    </div>
    <div class="publi_resume_images">
        {% for attachment in publication.attachments.all %}
        <div class="publi_resume_image">
            <img src="{{ attachment.file.url }}">
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="publi_resume_fulltxt">
        {{ publication.description|linebreaks }}
    </div>
    {% endif %}
</div>